aiohttp==3.7.4.post0
APScheduler==3.6.3
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
cachetools==4.2.2
cbpro==1.1.4
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
coinbase==2.1.0
dateparser==1.0.0
idna==3.2
lxml==4.6.3
multidict==5.1.0
pycryptodome==3.10.1
pymongo==3.5.1
python-binance==1.0.12
python-dateutil==2.8.2
python-telegram-bot==13.7
pytz==2021.1
regex==2021.8.3
requests==2.13.0
six==1.10.0
sortedcontainers==2.4.0
soupsieve==2.2.1
telegram==0.0.1
tornado==6.1
typing-extensions==3.10.0.0
tzdata==2021.1
tzlocal==3.0
ujson==4.0.2
urllib3==1.26.6
urlopen==1.0.0
websocket-client==0.40.0
websockets==9.1
xrzz==0.1.5
yarl==1.6.3
